body {
    background-color: #eae7dc;
    color: #e85a4f
}

header,
footer {
    background-color: #d8c3a5;
    font-size: 25px ;
}

.text-across-top,
.text-across-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

li {
    padding: 0px 15px;
}

a {
    text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #e85a4f
}

.section-border-and-style {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.section-border-and-style img {
    max-width: 50%;
    height: 50%;
}