body {
    background-color: #eae7dc;
    color: #e85a4f
}

header,
footer {
    background-color: #d8c3a5;
    font-size: 25px ;
}
footer {
    border-top: 10px solid #e85a4f;
}
header {
    border-bottom: 10px solid #e85a4f;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 0px 15px;
}

a {
    /* text-decoration: none; */
}

p {
    line-height: 40px;
}

.text-across-top,
.text-across-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #e85a4f
}

.about-me-layout {
    border-bottom: 5px solid;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}

.about-me-layout img {
    max-width: 100%;
    height: auto;
    border: 3px #8e8d8a solid;
}

.p-style-border {
    border-bottom: 3px #e85a4f solid;
    border-top: 3px #e85a4f solid;
    max-width: 40%;
}

.center-portfolio {
    text-align: center;
}
.section-border-and-style {
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    background-color: #d8c3a5;
}

.section-border-and-style img {
    max-width: 50%;
    height: auto;
    border: 3px #8e8d8a solid;
}
.section-border-and-style img:hover {
    transform: scale(1.05);
}

#contact {
    justify-content: center;
}